{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include "static/head.html" %}
    <title>Carona APP</title>
</head>

<body class="bg-map">

    <header>
        {% include "static/header.html" %}
    </header>
        <div id="main" class="container main">
            <div class="card-body flex-50 flex-center flex-column">
                <h1>
                    <span class="title-big">
                        Bem vindo ao CaronaApp!
                    </span>
                </h1>
                <a class="btn btn-big" href="">
                    Começar jornada!
                </a>
            </div>
            <div class="card-body flex-50">
                
            </div>
        </div>


    <footer>
        {% include "static/footer.html" %}
    </footer>

</body>

</html>