
{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include "static/head.html" %}
    <title>Carona APP</title>
</head>

<body class="bg-map">
    <header>
        {% include "static/header.html" %}
    </header>
        <div id="main" class="main">
            {% block container %}
            <div class="jumbotron" style="margin:5%; background-color: rgba(255,255,255,0.8)" >
                    <h1 class="display-4">Bem vindo ao Carona!</h1>
                    <p class="lead">Este é um projeto simples para a disciplina 
                        banco de dados onde teremos acesso a realização de queries em relação ao banco Carona.</p>
                    <hr class="my-4">
                    <p>Nesse painel você encontra botões que redirecionam para resultados de queries já prontas para visualização
                        ou pode testar alguma query que não está prevista nesses botões, para isso basta clicar no botão Consultas Genéricas.</p>
                    <p class="lead">
                      <a class="btn btn-primary btn-md" href="{% url 'listar_viagem' %}" role="button">Viagens</a>
                      <a class="btn btn-primary btn-md" href="{% url 'query_cidade' %}" role="button">Cidades</a>
                      <a class="btn btn-primary btn-md" href="{% url 'top_motorista' %}" role="button">Top Motoristas</a>
                      <a class="btn btn-primary btn-md" href="{% url 'freq_cidade' %}" role="button">Frequência nas cidades</a>
                      <a class="btn btn-primary btn-md" href="{% url 'media_motorista' %}" role="button">Media geral</a>
                      <a class="btn btn-primary btn-md" href="{% url 'media_salarial' %}" role="button">Media de valores</a>
                      <a class="btn btn-primary btn-md" href="{% url 'query' %}" role="button">Consultas genéricas</a>
                    </p>
                  </div>
            
            {% endblock %}
        </div>
    <footer>
        {% include "static/footer.html" %}
    </footer>

</body>

</html>