{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% include "static/head.html" %}
</head>
<body>
  <header>
    {% include "static/header.html" %}
  </header>
    {% if id %}
    <div class="container">
      <div class="row" style="margin-top: 5rem">
        <div class="col s6">
          <img width="100%" src="{% static 'img/mapa-viagem.jpg' %}" >
        </div>
        <div class="col s6">
            <h5 class="header col s12 light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in aliquam dolor. </h5>     
            
            <!-- fim do bloco origem destino -->
            
            <!-- bloco de informacao do usuario -->
            <ul class="collapsible">
                <li>
                  <div class="collapsible-header"><i class="material-icons">filter_drama</i>Informação sobre o motorista</div>
                    <div class="collapsible-body">
                      {% include "component/viagem.motorista.component.html"%}
                    </div>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">map</i>Trajeto</div>
                  <div class="collapsible-body">
                    {% include "component/viagem.trajeto.component.html"%}
                  </div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">attach_money</i>Preços</div>
                  <div class="collapsible-body">
                      {% include "component/viagem.preco.component.html"%}
                  </div>
                </li>
              </ul>
              <a href="" class="right btn waves-effect waves-light orange" type="submit" name="action">Selecionar
                  <i class="material-icons right">send</i>
              </a>
      </div>

    </div>

    {% else %}

    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
          <br><br>
          <div class="row center section" >
            <img width="100%" src="{% static 'img/mapas-crop.jpg' %}">
            <br><br>
            <h3 class="header col s12 light"> In in aliquam dolor. </h3>    
            <div class="divider"></div> 
        </div>    
      </div>
    </div>

    <div class="container">
      <div class="row ">
          <div class="col s12 m4">
            {% include "component/viagem.component.html" %}
          </div>
          <div class="col s12 m4">
              {% include "component/viagem.component.html" %}
          </div>
        
          <div class="col s12 m4">
            {% include "component/viagem.component.html" %}
          </div>
        
        </div>
      {% endif %}
    </div>

  </div>

  <footer class="page-footer orange">
      {% include "static/footer.html" %}
  </footer>

  </body>
</html>
