{% extends "index.html" %}
{% load widget_tweaks %}

{% block container %}

<h1 class="my-4">{{ formulario_titulo }}</h1>


<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item {{breadcrumb1}}"><a href="#">Trajeto</a></li>
          <li class="breadcrumb-item {{breadcrumb1}}"><a href="#">Carro</a></li>
          <li class="breadcrumb-item {{breadcrumb1}}" aria-current="page">Confirmar</li>
        </ol>
      </nav>

{% if form %}
        <form class="form-horizontal" method="post">{%csrf_token%}
                <fieldset>
                    {% for field in form %}
                    <div class="form-group row {% if field.errors %} has-error {% endif %}">
                        <label for="{{ field.auto_id }}" class="col-md-2 control-label">
                            {{ field.label }}
                        </label>
                        <div class="col-md-9">
                            {% render_field field class='form-control' %}
                            {% for error in field.errors %}
                            <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                    <div class="form-group form-row col-md-9 col-md-offset-3">
                        <button type="button submit" class="btn btn-dark">Enviar</button>
                    </div>
                </fieldset>
        </form>
{% endif %}

{% if carros %}
    <div class="form-group">
        <label for="exampleFormControlSelect2">Selecionar carro</label>
        <select multiple class="form-control" id="exampleFormControlSelect2">
          {% for carro in carros %}
            <option>carro</option>
        </select>
        <a href="">Concluido</a>
    </div>
{% endif %}

{% if concluido %}
<div>
    <div>
        <h3>Trajeto</h3>
        <ul><li>trajeto.cidade_origem</li><li>trajeto.cidade_destino</li></ul>
    </div>
    <div>
        <h3>Carro</h3>
        <ul><li>carro.placa</li><li>carro.cor</li>
            <li>carro.tipo_idtipo.marca - carro.tipo_idtipo.modelo</li>
        </ul>
    </div>
    <h3>Motorista</h3>
    
    <a href="">Concluido</a>
</div>

{% endif %}

{% endblock %}