{% load static %}

<div class="section">
        <div class="row">
          <div class="col s4">
              <img width="50%" src="{% static 'img/profile.png' %}">
              <br>
              <i class="tiny material-icons prefix">star_border</i>
          </div>
          <div class="col s8">
                <h5>Card Title</h5>
                <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="row">
            <div class="row">
              <div class="col s2">
                <div class="card orange white-text">
                <div class="card-content">
                  <h4>25</h4>
                </div>
                <div class="card-action">
                  <p>Viagens realizadas</p>
                </div>
                </div>
              </div>

              <div class="col s2">
                <div class="card orange white-text">
                <div class="card-content">
                  <h4>25</h4>
                </div>
                <div class="card-action">
                  <p>Avaliações recebidas</p>
                </div>
                </div>
              </div>

              <div class="col s2">
                <div class="card orange white-text">
                <div class="card-content">
                  <h4>4</h4>
                </div>
                <div class="card-action">
                  <p>Avaliação</p>
                </div>
                </div>
              </div>
        </div>
      </div>