
<table class="responsive-table">
        <thead >
          <tr>
              <th>Quantidade de Pessoas</th>
              <th>Preço parcial</th>
              <th>Preço Total</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>1</td>
            <td>R$99.00</td>
            <td>R$99.00</td>
          </tr>
          <tr>
            <td>2</td>
            <td>R$49.50</td>
            <td>R$99.00</td>
          </tr>
          <tr>
            <td>3</td>
            <td>R$33.00</td>
            <td>R$99.00</td>
          </tr>
        </tbody>
</table>